.social-sign-button {
  margin: 20px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-sign-button span {
  font-weight: 700 !important;
  font-size: 18px;
}
.kep-login-facebook.metro {
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 2px;
}
